[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-countries = "*"
django-money = "*"
black = "*"
flake8 = "*"
pytest-django = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-rest-swagger = "*"
django-debug-toolbar = "*"
mypy = "*"
pylint = "*"
django-filter = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
python-dateutil = "*"
faker = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.10"
